# Node modules
node_modules/

# Bun cache
.bun/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Screenshots and Previews directories
screenshots/
previews/

# Ignore processed_files.json
processed_files.json
